<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
         div #cards {
            width : 200px;	
            height : 200px;				
         }
    </style>
  </head>

  <body>
<!-- navbar -->
<div class="navbar-fixed">
<nav class="nav-extended">
    <div class="nav-content teal">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Library<i class="material-icons left">library_books</i></a></li>
        <li class="tab"><a class="active" href="#test2">Borrowed Books<i class="material-icons left">library_add</i></a></li>
        <li class="tab"><a href="#test3">History<i class="material-icons left">history</i></a></li>
        <li class="tab"><a href="#test4">Profile<i class="material-icons left">account_circle</i></a></li>
        <li class="tab disabled"><a href="#">Edit Books<i class="material-icons left">mode_edit</i></a></li>
        <li class="tab disabled"><a href="#">Delete Books<i class="material-icons left">delete</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Library Tab -->
  <div id="test1" class="col s12">Library
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>

<!-- CARDS -->
<div class = "row">
   <!-- card -->
    <div class = "col s12 m3">
       <div class = "card blue-grey lighten-4">
          <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src = "assets/images/profile_image.png" height="200px">                
          </div>
          
          <div class = "card-content activator">                  
             <p>Click the image to reveal more information.</p>
          </div>
          
          <div class = "card-reveal">
             <span class = "card-title grey-text text-darken-4">About Book
                <i class = "material-icons right">close</i></span>
                <hr>
                <p>What you behold is some random stuff about absolutely nothing. Perhaps you
                    may or may not feel as though I have wasted your precious time, but really we
                    both know you had nothing meaningful to do with your time anyways :-).
                    <div class = "card-action">
                        <button class = "btn waves-effect waves-light blue-grey">borrow</button>
                     </div>
                  </p>
          </div>
          
          <div class = "card-action">
              <button class = "btn waves-effect waves-light blue-grey">borrow
                 <i class = "material-icons left">add</i></button>
           </div>
       </div>
    </div>
     <!-- card -->
    <div class = "col s12 m3">
        <div class = "card blue-grey lighten-4">
           <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src = "assets/images/profile_image.png" height="200px">                
           </div>
           
           <div class = "card-content activator">                  
              <p>Click the image to reveal more information.</p>
           </div>
           
           <div class = "card-reveal">
              <span class = "card-title grey-text text-darken-4">About Book
                 <i class = "material-icons right">close</i></span>
                 <hr>
                 <p>What you behold is some random stuff about absolutely nothing. Perhaps you
                    may or may not feel as though I have wasted your precious time, but really we
                    both know you had nothing meaningful to do with your time anyways :-).
                    <div class = "card-action">
                        <button class = "btn waves-effect waves-light blue-grey">borrow</button>
                     </div>
                  </p>
           </div>
           
           <div class = "card-action">
              <button class = "btn waves-effect waves-light green">borrow
                 <i class = "material-icons left">add</i></button>
           </div>
        </div>
     </div>
     <!-- card -->
     <div class = "col s12 m3">
        <div class = "card blue-grey lighten-4">
           <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src = "assets/images/profile_image.png" height="200px">                
           </div>
           
           <div class = "card-content activator">                  
              <p>Click the image to reveal more information.</p>
           </div>
           
           <div class = "card-reveal">
              <span class = "card-title grey-text text-darken-4">About Book
                 <i class = "material-icons right">close</i></span>
                 <hr>
                 <p>What you behold is some random stuff about absolutely nothing. Perhaps you
                    may or may not feel as though I have wasted your precious time, but really we
                    both know you had nothing meaningful to do with your time anyways :-).
                    <div class = "card-action">
                        <button class = "btn waves-effect waves-light blue-grey">borrow</button>
                     </div>
                  </p>
           </div>
           
           <div class = "card-action">
              <button class = "btn waves-effect waves-light green">borrow
                 <i class = "material-icons left">add</i></button>
           </div>
        </div>
     </div>
      <!-- card -->
     <div class = "col s12 m3">
        <div class = "card blue-grey lighten-4">
           <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src = "assets/images/profile_image.png" height="200px">                
           </div>
           
           <div class = "card-content activator">                  
              <p>Click the image to reveal more information.</p>
           </div>
           
           <div class = "card-reveal">
              <span class = "card-title grey-text text-darken-4">About Book
                 <i class = "material-icons right">close</i></span>
                 <hr>
                 <p>What you behold is some random stuff about absolutely nothing. Perhaps you
                    may or may not feel as though I have wasted your precious time, but really we
                    both know you had nothing meaningful to do with your time anyways :-).
                    <div class = "card-action">
                        <button class = "btn waves-effect waves-light blue-grey">borrow</button>
                     </div>
                  </p>
           </div>
           
           <div class = "card-action">
              <button class = "btn waves-effect waves-light green">borrow
                 <i class = "material-icons left">add</i></button>
           </div>
        </div>
     </div>
 </div>

 <!-- /ROW -->

 <!-- row -->
 <div class = "row">
    <!-- card -->
    <div class = "col s12 m3">
       <div class = "card blue-grey lighten-4">
          <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src = "assets/images/profile_image.png" height="200px">                
          </div>
          
          <div class = "card-content activator">                  
             <p>Click the image to reveal more information.</p>
          </div>
          
          <div class = "card-reveal">
             <span class = "card-title grey-text text-darken-4">About Book
                <i class = "material-icons right">close</i></span>
                <hr>
                <p>What you behold is some random stuff about absolutely nothing. Perhaps you
                    may or may not feel as though I have wasted your precious time, but really we
                    both know you had nothing meaningful to do with your time anyways :-).
                    <div class = "card-action">
                        <button class = "btn waves-effect waves-light blue-grey">borrow</button>
                     </div>
                  </p>
          </div>
          
          <div class = "card-action">
              <button class = "btn waves-effect waves-light green">borrow
                 <i class = "material-icons left">add</i></button>
           </div>
       </div>
    </div>
     <!-- card -->
    <div class = "col s12 m3">
        <div class = "card blue-grey lighten-4">
           <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src = "assets/images/profile_image.png" height="200px">                
           </div>
           
           <div class = "card-content activator">                  
              <p>Click the image to reveal more information.</p>
           </div>
           
           <div class = "card-reveal">
              <span class = "card-title grey-text text-darken-4">About Book
                 <i class = "material-icons right">close</i></span>
                <hr>
              <p>What you behold is some random stuff about absolutely nothing. Perhaps you
                may or may not feel as though I have wasted your precious time, but really we
                both know you had nothing meaningful to do with your time anyways :-).
                <div class = "card-action">
                    <button class = "btn waves-effect waves-light blue-grey">borrow</button>
                 </div>
              </p>
           </div>
           
           <div class = "card-action">
              <button class = "btn waves-effect waves-light green">borrow
                 <i class = "material-icons left">add</i></button>
           </div>
        </div>
     </div>
      <!-- card -->
     <div class = "col s12 m3">
        <div class = "card blue-grey lighten-4">
           <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src = "assets/images/profile_image.png" height="200px">                
           </div>
           
           <div class = "card-content activator">                  
              <p>Click the image to reveal more information.</p>
           </div>
           
           <div class = "card-reveal">
              <span class = "card-title grey-text text-darken-4">About Book
                 <i class = "material-icons right">close</i></span>
                 <hr>
                 <p>What you behold is some random stuff about absolutely nothing. Perhaps you
                    may or may not feel as though I have wasted your precious time, but really we
                    both know you had nothing meaningful to do with your time anyways :-).
                    <div class = "card-action">
                        <button class = "btn waves-effect waves-light blue-grey">borrow</button>
                     </div>
                  </p>
           </div>
           
           <div class = "card-action">
              <button class = "btn waves-effect waves-light green">borrow
                 <i class = "material-icons left">add</i></button>
           </div>
        </div>
     </div>
      <!-- card -->
     <div class = "col s12 m3">
        <div class = "card blue-grey lighten-4">
           <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src = "assets/images/profile_image.png" height="200px">                
           </div>
           
           <div class = "card-content activator">                  
              <p>Click the image to reveal more information.</p>
           </div>
           
           <div class = "card-reveal">
              <span class = "card-title grey-text text-darken-4">About Book
                 <i class = "material-icons right">close</i></span>
                 <hr>
                 <p>What you behold is some random stuff about absolutely nothing. Perhaps you
                    may or may not feel as though I have wasted your precious time, but really we
                    both know you had nothing meaningful to do with your time anyways :-).
                    <div class = "card-action">
                        <button class = "btn waves-effect waves-light blue-grey">borrow</button>
                     </div>
                  </p>
           </div>
           
           <div class = "card-action">
              <button class = "btn waves-effect waves-light green">borrow
                 <i class = "material-icons left">add</i></button>
           </div>
        </div>
     </div>
 </div>
 <!-- / ROW -->

 
 
<!-- <div class = "row">
    <div class = "col s12 m3">
       <div class = "card-panel teal">
          <span class = "white-text">Simple Card</span>
          <div class = "card-action">
              <button class = "btn waves-effect waves-light blue-grey">
                 <i class = "material-icons">add</i></button>
           </div>
       </div>
    </div>
    
    <div class = "col s12 m3">
       <div class = "card small teal">
          <span class = "white-text">Small Card</span>
       </div>
    </div>
    
    <div class = "col s12 m3">
       <div class = "card medium teal">
          <span class = "white-text">Medium Card</span>
       </div>
    </div>
    
    <div class = "col s12 m3">
       <div class = "card large teal">
          <span class = "white-text">Large Card</span>
       </div>
    </div>
 </div>     	   -->
     </div>
     <div id="test2" class="col s12">Borrowed Books</div>
      <div id="test3" class="col s12">History</div>
       <div id="test4" class="col s12">User Profile</div>


  
  <!-- /navbar -->

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>