<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Welcome to Hello Books</title>
  <link rel="icon" href="assets/images/bunny.gif" type="image/gif" sizes="16x16">
  <!-- CSS  -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/materializeicons.css" rel="stylesheet">
  <link type="text/css" href="assets/fonts/ubuntu-font.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/font-awesome.min.css">

<style>
  body{
  font-family: 'Ubuntu mono', normal;
}

/* animation code */
@keyframes example {
    0%   {background-color:teal; left:0px; top:0px;}
    25%  {background-color:#F1E971; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    85%  {transform: rotateY(360deg);}
    100% {background-color:red; left:0px; top:0px;}
}

button #login {
    animation: example 10s linear 1s 3 alternate;
}

/* cover */
.cover {
  text-align: center;
  margin: 100px auto;
  padding-top: 3px; 
  width: 300px;
  height: 50px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  background: #2b303b;
  color: #262626;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}


</style>
</head>
<body class="grey lighten-3">

  <!-- <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#!" class="brand-logo">Hello Books</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn waves-effect waves-light cyan" href="#!">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a class="btn waves-effect waves-light cyan" href="#!">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav> -->

  <div id="index-banner" class="parallax-container" style="height: 750px;">
  <header>   
   <img src="assets/img/books.gif" alt="logo" height="100px" width="100px" style="margin: 20px;"/></a>
  </header>      
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-darken-2">Welcome to <font class="brown-text lighten-4">Hello </font> <font class="brown-text"><b>Books</b><i class="material-icons medium">book</i></font></h1>
        <div class="row center">
          <h5 class="header col s12 light">An Online Library that keeps you glued to your device for a good course...</h5>
        </div>
        <div class="row center">
          <a href="#!" id="download-button" class="btn-large waves-effect waves-light green lighten-1 pulse" onclick="Materialize.toast('Please wait...', 5000, 'rounded')">Get Started<i class="material-icons left">airplanemode_active</i></a><br />
          <button id="login" class = "btn waves-effect waves-light cyan pulse" onclick=" Materialize.toast('Initializing Login...', 5000, 'rounded')" style="margin-top: 10px;">LOGIN
              <i class="material-icons left">vpn_key</i></button>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/images/runswim.gif" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">library_books</i></h2>
            <h5 class="center">Awesome Book Collections</h5>

            <p class="light">We've taken the pain to search the globe for awesome books that suites your taste, whatever it be.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements of Material Design, we were able to create a User Interface that gives interactive feedback to users. Additionally, an easy to use navigation system gives the users an overall awesome user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">add_shopping_cart</i></h2>
            <h5 class="center">Online Orders?</h5>

            <p class="light">We can ship in your orders to wherever you are for ridiculously cheap cost...sucks for us.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light brown-text"><b>Brace yourself, we're about to animate your reading world.</b></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/handpress.gif" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4><i class="fa fa-fw fa-envelope brown-text"></i>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"><b>Oh wow look...A new User.</b></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/cathigh.gif" alt="Unsplashed background img 3"></div>
  </div>

      <div class="row">
          <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4><i class="fa fa-fw fa-book brown-text"></i>Recommended Reads</h4>
            </div>
        <div class="col s12 m3">
          <div class="card blue-grey lighten-4 sticky-action hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img src = "assets/images/things.jpg" height="350px" class="materialboxed">
            </div>
            <div class = "card-action">
                <button class = "btn waves-effect waves-light cyan" onclick=" Materialize.toast('First, You need to Login.', 5000, 'rounded')">borrow
                    <i class="material-icons left">add_shopping_cart</i></button> 
                    <span class="new badge purple lighten-2 pulse"></span>
             </div>
          </div>
        </div>
      </div>

  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <i class="material-icons">group</i>
          <h5 class="white-text">Meet the Team</h5>
          <p class="grey-text text-lighten-4">We are a team of butt pationate geeks.</p>


        </div>
        <div class="col l3 s12 right">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!"><i class="fa fa-fw fa-facebook-official"></i>Facebook</a></li>
            <li><a class="white-text" href="#!"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
            <li><a class="white-text" href="#!"><i class="fa fa-fw fa-medium"></i>Medium</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright teal">
      <div class="container">
      &copy 2017 <a class="brown-text text-lighten-3" href="#!">Hello Books</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script>
//Material Box 
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });

//Parallax
  (function($){
  $(function(){

    $('.button-collapse').sideNav();
    $('.parallax').parallax();

  }); // end of document ready
})(jQuery); // end of jQuery name space
  </script>

  </body>
</html>
