<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Hello Books</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>

	<header>
		<h2><a href="#"><img src="assets/img/books.gif" alt="logo" height="100px" width="100px" style="margin-top: 2px;"/></a></h2>
	</header>


	<section class="hello">
		<div class="background-image" style="background-image: url(assets/img/back.jpg);"></div>
		<h1>Welcome to Hello Books.</h1>
		<h3>let's use your spare time wisely...</h3>
		<a href="login.html" class="btn">Login</a>
		<a href="register.html" class="btn" style="background: grey; margin-top: 10px;">Get Started</a>
	</section>
	

	<section class="features">
		<h3 class="title">Features and services</h3>
		<p>Here's a few of what we have to offer.</p>
		<hr>

		<ul class="grid">
			<li>
				<i class="fa fa-map-marker"></i>
				<h4>Tracking</h4>
				<p>Yes we do pay attention to details as well to. From free to paid books</p>
			</li>
			<li>
				<i class="fa fa-cubes"></i>
				<h4>Stocking</h4>
				<p>we keep stocks and records of the best books around the globe.</p>
			</li>
			<li>
				<i class="fa fa-newspaper-o"></i>
				<h4>Renting</h4>
				<p>Sure we'd let you rent from our awesome collections of books.</p>
			</li>
		</div>
	</section>



	<section class="contact">
		<h3 class="title">Join our newsletter</h3>	
		<p>We hate spam as much as you do, join our newsletter to receive updates on trending books and books we recommend.</p>
		<hr>

		<form>
			<input type="email" placeholder="Email">
			<a href="#" class="btn">Subscribe now</a>
		</form>
	</section>

	<footer>
		<ul>
			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
			<li><a href="#"><i class="fa fa-github-square"></i></a></li>
		</ul>
		
	<p>&copy Hello Books 2017</p>
	</footer>

</body>

</html>
