@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lobster');


/* BODY */
h1 {
	font-family: 'Lobster', cursive;
}
body {
	font-family: 'Ubuntu', sans-serif;
	/*font-family: "open sans", "segoe ui"; */
	font-size: 14px;
	margin: 0;
	padding: 0;
}
/* LINKS */
a {
	transition: background .3s; /* reduce speed links transition speed*/
}

/* BACKGROUND and BACKDROP */
.background, .backdrop {
	background-color: #4acaa8;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-size: cover;
}

/* BACKGROUND IMAGE*/

.backdrop {
	background: #333333;
	filter: alpha(opacity=90);
	opacity: .9;
	
}
.background {
	 background-image: url('../img/back.jpg'); 
}

/* BLURRED/DARK EFFECT for backdrop and bgimage*/

.background {
	filter: blur(15px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=5); 
}


.backdrop {
	opacity: .5; /*increase opacity of backdrop*/
}

/* CONTAINER */
.login-form-container {
	border-radius: 10px 30px;
    max-width: 400px;
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 50%;
    left: 50%;
	margin-left: -200px;
	margin-top: -286px; 

}
.login-form-container a{
	text-decoration:none;
}

/* LOGO */
.logo {
	background: #0F4C71;
	border-style: none;
	border-radius: 10px 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* FORM CONTENT CONTENT */
.login-form-content {
	background-color: #FFFFFF;
	padding: 25px 25px;
	border-radius: 10px 30px;
}
.login-form-content i{
    width: 30px;
    text-align: center;
	vertical-align: bottom;
}

/* HEADER */
.login-form-header {
	text-align: center;
}
.login-form-header img {
	border: 1px solid #CCCCCC;
    padding: 10px;
    border-radius: 50px;
}
.login-form-header h3 {
	font-weight: lighter;
    font-size: 25px;
    margin: 10px 0;
}

/* FROM INPUT */
.login-form .input-container {
	border-bottom: 1px solid #CCCCCC;
    margin-top: 15px;
    font-size: 20px;
    color: #9e9e9e;
	padding-bottom: 5px;
}
.login-form .input {
	border: 0;
	width: 200px;
}
.login-form .input:focus {
    outline: none;
}
#show-password {
	float: right;
    vertical-align: bottom;
    text-align: center;
    margin-top: 7px;
	cursor: pointer;
}
.login-form .forgot-password {
	float: right;
}
.login-form .rememberme-container {
	margin-top: 15px;
	padding: 0;
}
.login-form .rememberme-container input {
	margin-left: 0;
}
.login-form .rememberme span {
	vertical-align: top;
}
#options {
	background: #77EC67;
}
#options option {
	background: #4F4F4E;
	font: #fff;

}

.login-form .button {
	margin-top: 15px;
    width: 100%;
    background: #2e7ec7;
    border: 0;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
	cursor: pointer;
	transition: background .3s;
}
.login-form .button:hover {
	background: #1f6ec9;
}
.login-form .button:focus {
	outline: none;
}

.login-form .register {
	margin-top: 5px;
    background: #dadada;
    border: 0;
    color: #676464;
    padding: 9px;
    font-size: 15px;
    display: block;
    text-align: center;
}
.login-form .register:hover	{
	background: #d0d0d0;
}


/* SEPARATOR */
.login-form-content .separator {
	margin: 20px 0;
	border-top: 1px solid #CCCCCC;
	position: relative;
}


/* RESPONSIVENESS */
* {
	box-sizing: border-box;
}
@media screen and (max-height: 600px) {
	.login-form-container {
		margin-top: 0 !important;
		top: 10px !important;
	}
}

@media screen and (max-width: 400px) {
	.login-form-container {
		left: 5px;
		margin-left: 5px;
		min-width: 283px;
		right: 10px;
		margin-bottom: 10px;
		width: auto;
	}
	.login-form .input {
		width: 140px;

}
}

